name: Validate

on:
  push:
    paths-ignore:
      - "README.md"
      - "info.md"
    branches:
      - master
  pull_request:
    branches:
      - "*"

jobs:
  validate:
    runs-on: "ubuntu-latest"
    steps:
      - name: Checkout
        uses: "actions/checkout@v5"

      - name: Check conventional commits
        uses: webiny/action-conventional-commits@v1.3.0

      - name: Check PEP8
        uses: andymckay/pycodestyle-action@0.1.3

      - name: HACS validation
        uses: hacs/action@main
        with:
          category: integration

      - name: HASSFEST
        uses: home-assistant/actions/hassfest@master
